/* TEXT AUTOMATION EFFECT 1° MODULO */
.jss-container {
  display: flex;
  justify-content: start;
  height: 81vh;
  align-items: center;
}

.left-container {
  display: flex;
  justify-content: end;
  height: 80vh;
  align-items: center;
}

@media (max-width: 576px) {
  .jss-container {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    margin-top: 0vh;
  }

  .left-container {
    display: flex;
    justify-content: center;
    height: 40vh;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  /* footer text */
}

@media (max-width: 760px) {
  .text-custom {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

/* 2° MODULO */
@media (min-width: 1440px) {
  .text-style {
    margin-top: 50px;
    margin: 50px 50px;
  }
}

/* CALENDAR STYLE */
.calendar-day {
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.disabled {
  opacity: 0.2;
  pointer-events: none;
}
.selected {
  background-color: #2ae243 !important;
  color: white !important;
}
.today {
  background-color: #e9ecef;
  font-weight: bold;
}
